*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #5d2b9f;
    --secondary-color: #fbeaff;
    --spoting-color:#965dda;
    --text-color: #fefedf;
    --main-size: 25;
    --highlight-color:invert(79%) sepia(44%) saturate(1881%) hue-rotate(338deg) brightness(101%) contrast(101%);

}


body{
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.main-heding-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
#what-id{
    font-size: 3.7rem;
    /* color: var(--text-color); */
    /* Bebas Neue */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.main-heading{
    margin-bottom: 0.9rem;
    position: relative;
}

.main-heading::after{
    content: ' ';
    width: 6.7rem;
    position: absolute;
    right: 0;
    top: 70px;
    border-bottom: 0.23rem solid var(--text-color);
    margin-top: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.parent-main-content{
    display: grid;
    grid-template-columns: repeat(3,25rem);
    column-gap: 2.7rem;
    row-gap: 6rem;
    justify-content: center;
    align-items: center;
}

.parent-main-content  > div{
    /* border: 0.125rem solid var(--text-color); */
    width: 25rem;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 0 .6rem .125rem var(--secondary-color); */
    position: relative;
    background-color: var(--spoting-color);
    
}
.parent-main-content > div > div:nth-child(2){
    margin-top: 4rem;
}
.parent-main-content>div>div:last-child{
    margin: .8rem .8rem 3rem .8rem;
    text-align: center;
}

.parent-main-content > div > div:first-child{
    width: 5rem;
    height: 5rem;
    
    display: grid;
    place-items: center;
    position: absolute;
    top: -1.7rem;
    background-color: var(--spoting-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.parent-main-content > div >div>div:first-child{
    width: 2rem;
    height: 2rem;
    padding: .8rem;
    border: 2px dashed var(--text-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

img{
    filter: var(--highlight-color);
    -webkit-filter: var(--highlight-color);
}

@media  only screen and (max-width: 767px){
    .parent-main-content{
        display: grid;
        grid-template-columns: 20rem;
        place-items: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .parent-main-content{
        display: grid;
        grid-template-columns: repeat(2,25rem);
        place-items: center;
    }
}